.container

    = image_tag("default-creative-station.jpg", class: "mx-auto pt-4 d-block")
    %h1{:class => "display-4 mx-auto py-4"} Edit associated Products
    = form_for @project, url: {action:"update"} do |f|

        %table{:class => "w-100", :style => "border-collapse:separate; border-spacing:0 1rem"}
            %tr{:class => "form-group"}
                %td
                    %h6 Title
                %td 
                    = f.text_field :title, :class => "form-control", :readonly => true 
            %tr{:class => "form-group"}
                %td
                    %h6 Unique Product ID
                %td
                    = f.text_field :uniqueid, :class => "form-control", :readonly => true         
            %tr{:class => "form-group "}
                %td
                    %h6 Core Products
                %td
                    = f.text_field :core_products, :class => "form-control", placeholder: "Essential product. Will hide shopping cart if out of stock. Separate by comma (no spaces)"   
            %tr{:class => "form-group"}
                %td
                    %h6 Products
                %td
                    = f.text_field :products, :class => "form-control" placeholder: "All other BR products. Separate by comma (no spaces)"           
      
            %tr{:class => "form-group"}
                %td
                %td
                    = f.submit "Save", class: "btn btn-primary" 


    = link_to 'Back', projects_path, :class => "text-primary h5" 