<div class="container">

<div class="mx-auto"> 
  <%= image_tag("default-creative-station.jpg", class: "mx-auto my-4 d-block")%>
</div>
<nav class="navbar navbar-expand-md navbar-light nav-fill justify-content-center" style="background-color: #e3f2fd;" style="background-color: #e3f2fd;">
  <div class="collapse navbar-collapse nav-fill justify-content-center">  
    <ul class="navbar-nav justify-content-center ">
      <li class="nav-item navbar-text"><%= link_to 'Add a new project', new_project_path, :class => "nav-link h5" %></li>
      <li class="nav-item navbar-text"><%= link_to 'Upload projects', products_path, :class => "nav-link h5" %></li>
      <li class="nav-item navbar-text"><%= link_to 'Upload new product data', products_path, :class => "nav-link h5" %></li>
      <li class="nav-item navbar-text">
        <%=link_to(export_projects_url, :class => "nav-link", target: :_blank, :onclick => 'window.location.reload();') do%>
          <% if !Project.all.empty? && !Export.all.empty?%>
            <h5>Export projects <span class="badge badge-primary badge-pill">
              <%=(Project.where(created_at:(Export.last.created_at)...Time.now).count) %>
            </span></h5>
          <%end%>
        <% end%>
      </li>
      <li class="nav-item navbar-text"><%= link_to 'Export products', export_products_url, :class => "nav-link h5", target: :_blank%></li>
    </ul>
  </div>
</nav>

<p id="notice" class="alert"><%= notice %></p>

<h1 class="display-4 mb-3 mx-auto">All Projects</h1>
<div style="float:right" class="mb-3">
  <%= form_tag(projects_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search")%> 
  <% end %> 
</div>     
<table class="table table-striped">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <th scope="row"><%= link_to project.title, project %></th>
        <td class="text-info"><% if project.products.present?%>
            <%= "Has Products"%>
            <% end %>
        <td><%= link_to 'Edit products', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'All Projects', projects_path, class: "text-primary h5" %>

</div>