<div class="container">

<%= image_tag("default-creative-station.jpg", class: "mx-auto my-4")%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item navbar-text"><%= link_to 'Add a new project', new_project_path, :class => "nav-link h5" %></li>
      <li class="nav-item navbar-text"><%= link_to 'Upload new product data', products_path, :class => "nav-link h5" %></li>
      <li class="nav-item navbar-text"><%= link_to 'Export projects', export_projects_url, :class => "nav-link h5"%></li>
      <li class="nav-item navbar-text"><%= link_to 'Export products', export_products_url, :class => "nav-link h5"%></li>
    </ul>
  </div>
</nav>


<p id="notice" class="alert"><%= notice %></p>

<h1 class="display-4 mb-3 mx-auto">All Projects</h1>

<table class="table table-striped">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <th scope="row"><%= link_to project.title, project %></th>
        <td><%= link_to 'Edit products', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>