<div class="container">

<div class="mx-auto"> 
  <%= link_to image_tag("default-creative-station.jpg", class: "mx-auto my-4 d-block"), root_path%>
</div>
<h1 class="display-4 mb-4 mx-auto text-center">All Projects</h1>




<div class="dropdown mb-3">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Web Team Actions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Upload new product data', products_path, :class => "dropdown-item" %>
    <%=link_to(export_projects_url, :class => "dropdown-item",  target: :_blank, :onclick => 'window.location.reload();') do%>
    Export projects 
          <% if !Project.all.empty? && !Export.all.empty?%>
            <span class="badge badge-primary badge-pill">
              <%=(Project.where(created_at:(Export.last.created_at)...Time.now).count) %>
            </span>
          <%end%>
        <% end%>
    <%= link_to 'Export products', export_products_url, :class => "dropdown-item",  target: :_blank%>
  </div>
</div>     
<%= link_to 'Add a new project', new_project_path, class: "text-info h3 float-left"%>
<div class="mb-3 float-right">
  <%= form_tag(projects_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search")%> 
  <% end %> 
</div>
<br>
<br>
<table class="table table-striped">
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <th scope="row"><%= link_to project.title, project %></th>
        <td class="text-info"><% if project.products.present?%>
            <%= "Has Products"%>
            <% end %>
        <td><%= link_to 'Edit products', edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'All Projects', projects_path, class: "text-primary h5" %>

</div>