.container

    = image_tag("default-creative-station.jpg", class: "mx-auto pt-4")

    %h1{:class => "display-4 mx-auto py-4"} New Project


    = form_for @project, url: {action:"create"} do |f|

        %table{:class => "w-100", :style => "border-collapse:separate; border-spacing:0 1rem"}
            %tr{:class => "form-group pb-5"}
                %td
                    %h6 Title
                %td 
                    = f.text_field :title, :class => "form-control" 
            %tr
                %td
                    %h6 Unique Product ID
                %td
                    = f.text_field :uniqueid, :class => "form-control", placeholder: "Don't include country code (ie: _en)"   
            %tr
                %td
                    %h6 Categories
                %td
                    = f.text_field :categories, placeholder: "Separate by comma (no spaces)", :class => "form-control"  
            %tr
                %td
                    %h6 Tags
                %td
                    = f.text_field :tags, placeholder: "Separate by comma (no spaces)", :class => "form-control"                         
            %tr
                %td{:class => "form-group"}
                    %h6 Language
                %td
                    = f.collection_select(:language_id, Language.all, :id, :name, {}, {:class => "form-control"})            
            %tr
                %td
                    %h6 Intro
                %td
                    = f.text_field :intro, :class => "form-control" 
            %tr

                %td{:class => "form-group"}
                    %h6 Main Image
                %td
                    = f.file_field :main_image, :class => "form-control-file"
            %tr
                %td{:class => "form-group"}
                    %h6 Step Images
                %td
                    = f.file_field :step_images, multiple: true, :class => "form-control-file"     
            %tr
                %td
                    %h6 Level
                %td
                    = f.text_field :level, :class => "form-control"       
            %tr
                %td
                    %h6 Time
                %td
                    = f.text_field :time, :class => "form-control"       
            %tr{:class => "form-group"}
                %td
                    %h6 How to Make
                %td
                    = f.text_area :how_to_make, placeholder: "Separate by new line", :class => "form-control"      
            %tr{:class => "form-group"}
                %td
                    %h6 What You'll Need
                    (non BR items)
                %td
                    = f.text_field :what_youll_need, placeholder: "Separate by comma (no spaces)", :class => "form-control"      
            %tr
                %td
                    %h6 Tip
                %td
                    = f.text_field :tip, :class => "form-control"  
            %tr{:class => "form-group"}
                %td
                    %h6 Supervision
                %td{:class => "form-check form-check-inline"}
                    = f.radio_button :supervision, "yes", :class => "form-check-input"
                    = f.label :supervision_yes, "Yes", :class => "form-check-label mr-5"    
                    = f.radio_button :supervision, "no", :class => "form-check-input"
                    = f.label :supervision_no, "No", :class => "form-check-label"     
            %tr
                %td
                    %h6 Template
                %td
                    = f.text_field :template, placeholder: "Filename (including extension)", :class => "form-control"            
            %tr
                %td
                    %h6 Products
                %td
                    = f.text_field :products, placeholder: "SKUs only. Separate by comma (no spaces)", :class => "form-control"             
            %tr
                %td
                    %h6 Core Products
                %td
                    = f.text_field :core_products,placeholder: "SKUs only. Separate by comma (no spaces)", :class => "form-control"             
            %tr
                %td
                    
                %td
                    = f.submit "Create", class: "btn btn-primary" 

    = link_to 'Back', projects_path, :class => "text-primary h5" 