= @project.title
= @project.intro
= @project.categories
= @project.tags
!= @project.how_to_make 
!= @project.shopping_list
!= @project.what_youll_need



= image_tag @project.main_image

- @project.step_images.each do |img|
   = image_tag img




= link_to 'Edit', edit_project_path(@project)
= link_to 'Back', projects_path