.container-fluid

   %h1{:class => "display-3 mx-auto p-4"}
      = @project.title
   %p 
      %h3 Intro: 
      = @project.intro
   %p
      %h3 Categories:
      = @project.categories
   %p
      %h3 Tags:
      = @project.tags
   %p 
      %h3 How to Make   
      != @project.how_to_make 
   %p 
      %h3 Tip   
      = @project.tip 
   %p
      %h3 Shopping List   
      != @project.shopping_list
   %p 
      %h3 What You'll Need
      != @project.what_youll_need
   %p 
      %h3 Level
      = @project.level
   %p 
      %h3 Time
      = @project.time
   %p 
      %h3 Main Image
      = image_tag(@project.main_image, width: 300)
   %p 
      %h3 Step Images
   - @project.step_images.each do |img|
      %p
         = image_tag(img, width:300)
   %p
      = link_to 'Edit', edit_project_path(@project), class: "text-primary h5"
   %p
      = link_to 'Back', projects_path, class: "text-primary h5"