.container

   = image_tag("default-creative-station.jpg", class: "mx-auto pt-4 d-block")
   %h1{:class => "display-4 mx-auto py-4"}
      = @project.title
      %small{:class => "text-muted"}
         = @project.uniqueid
  
   %p 
      %h4 Intro: 
      = @project.intro
   %p 
      %h4 Language: 
      = @project.language.name
   %p
      %h4 Categories:
      - @project.categories.split(",").each do |c| 
         = c
         %br
   %p
      %h4 Tags:
      - @project.tags.split(",").each do |t| 
         = t
         %br
   %p 
      %h4 How to Make:   
      != @project.how_to_make 
   %p 
      %h4 Tip:   
      = @project.tip 
   %p
      %h4 Shopping List:   
      != @project.shopping_list
   %p 
      %h4 What You'll Need:
      != @project.what_youll_need
   %p 
      %h4 Level:
      = @project.level
   %p 
      %h4 Time:
      = @project.time
   %p 
      %h4 Main Image:
      - if @project.mainimage
         = image_tag(@project.main_image, width: 400)
   %p 
      %h4 Step Images:
   - @project.step_images.each do |img|
      %p
         = image_tag(img, width:300)
   %p
      = link_to 'Edit Products', edit_project_path(@project), class: "text-primary h5"
   %p
      = link_to 'Back', projects_path, class: "text-primary h5"